<div layout="row" layout-align="center none">
    <div flex-gt-sm="80" flex-gt-md="70" flex-gt-lg="50" flex-gt-xl="40" flex-gt-xs="90" flex-xs="100">
        <div layout-padding class="breadcrumbBar">
            <span layout-padding class="md-body-1"><a ng-href="/forum">Forums</a> / <a ng-href="/forum/category/{{ cat.category._id }}">{{ cat.category.name }}</a></span>
        </div>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">{{ cat.category.name }}</span>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content class="no-side-padding">
                <thread-list threads="cat.threads"></thread-list>
                <div ng-show="cat.noThreads()" layout-align="center center">
                    <p class="md-subhead">There are no threads in this category</p>
                    <p class="md-subhead">Click below to add one</p>
                </div>
                
            </md-card-content>
        </md-card>
    </div>
</div>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="cat.showAddThread($event)">
    <md-tooltip>
        Create Thread
    </md-tooltip>  
    <md-icon md-font-library="material-icons">forum</md-icon>
</md-button>