<div layout="column">
    <md-toolbar id="mainTB" class="md-toolbar-tall md-whiteframe-4dp">
        <div class="md-toolbar-tools">
            <ng-md-icon icon="menu" class="invert"></ng-md-icon>&nbsp
            <span><b>Erebos</b> Forums</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <ng-md-icon icon="search" class="invert"></ng-md-icon>
            <md-menu md-offset="-75 45">
                <!-- Trigger element is a md-button with an icon -->
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                    <ng-md-icon icon="more_vert" class="invert"></ng-md-icon>
                </md-button>
                <md-menu-content>
                    
                    <md-menu-item>
                        <span class="capitalize">{{ nav.currentUser.username }}</span>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            <span ng-click="nav.logout()"><ng-md-icon icon="logout"></ng-md-icon> Logout</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            <span><ng-md-icon icon="account_circle"></ng-md-icon> Profile</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
</div>