<div layout="column">
    <md-toolbar id="mainTB" class="md-toolbar-tall md-whiteframe-4dp">
        <div class="md-toolbar-tools">
            <span><b>Erebos</b> Forums</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <ng-md-icon icon="search" class="invert"></ng-md-icon>
            <md-menu md-offset="-75 45">
                <!-- Trigger element is a md-button with an icon -->
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                    <ng-md-icon icon="menu" class="invert"></ng-md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item><md-button>
                        <ng-md-icon icon="logout"></ng-md-icon> Logout
                    </md-button></md-menu-item>
                    <md-menu-item><md-button>
                        <ng-md-icon icon="account_circle"></ng-md-icon> Profile
                    </md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>   
</div>

<div layout="row" layout-align="center none">
    <md-card class="overlappedCard md-whiteframe-4dp" flex-gt-sm="80" flex-gt-md="70" flex-gt-lg="50" flex-gt-xl="40" flex-gt-xs="90" flex-xs="95">
        <md-card-header>
            <md-card-header-text>
                <span class="md-headline">All Categories</span>
            </md-card-header-text>
            
        </md-card-header>
        <md-divider></md-divider>
        <md-card-content>
            
            <div flex ng-repeat="cat in forum.categories" layout="column">
                <md-card-title>
                    <md-card-title-text>
                        <a ng-href="#/forum/category/{{ cat._id }}"><span class="md-headline">{{cat.name}}</span></a>
                    </md-card-title-text>
                </md-card-title>
                <br></br>
                <md-card-content>
                    <div ng-repeat="thread in cat.recentThreads">
                        <h3 class="md-subhead">{{ thread.title }}</h3>
                        <md-divider class="inset"></md-divider>
                    </div>
                </md-card-content>
            </div> 
        </md-card-content>
    </md-card>
</div>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add">
    <md-tooltip>
        Add Category
    </md-tooltip>  
    <ng-md-icon icon="add"></ng-md-icon>
</md-button>




