<div forum-toolbar></div>
<div layout="row" layout-align="center none" flex>
    <div flex-gt-sm="80" flex-gt-md="70" flex-gt-lg="50" flex-gt-xl="40" flex-gt-xs="90" flex-xs="95">
        <div layout-padding class="breadcrumbBar">
            <span layout-padding class="md-body-1">Forums</span>
        </div>
        <md-card class="md-whiteframe-2dp">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">All Categories</span>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content>
                <div ng-repeat="cat in forum.categories">
                    <a ng-href="/forum/category/{{ cat._id }}"><span class="md-headline">{{cat.name}}</span></a>
                    <div ng-repeat="thread in cat.recentThreads">
                        <p>{{ thread.title }}</p>
                        <p class="md-caption">Submitted by: <span class="capitalize">{{ thread.author.username }}</span></p>
                        <p class="md-caption">{{ thread.date }}</p>
                        <md-divider></md-divider>
                        <br>
                    </div>
                </div>




                <!--<md-list>
                    <md-list-item ng-repeat="cat in forum.categories" flex="100" layout="column">
                            <a ng-href="/forum/category/{{ cat._id }}"><span class="md-headline">{{cat.name}}</span></a>
                        <md-list>
                            <md-list-item ng-repeat="thread in cat.recentThreads">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ thread.title }}</h3>
                                    <h4>Submitted by: <span class="capitalize">{{ thread.author.username }}</span></h4>
                                    <p>Date goes here</p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-list-item>
                </md-list>
                
                <!--<div flex ng-repeat="cat in forum.categories" layout="column">
                    <md-card-title>
                        <md-card-title-text>
                            <a ng-href="#/forum/category/{{ cat._id }}"><span class="md-headline">{{cat.name}}</span></a>
                            
                        </md-card-title-text>
                    </md-card-title>
                    <br></br>
                    <md-card-content>
                        <div ng-repeat="thread in cat.recentThreads">
                            <h3 class="md-subhead">{{ thread.title }}</h3>
                            <md-divider class="inset"></md-divider>
                        </div>
                    </md-card-content>
                </div> -->
            </md-card-content>
        </md-card>
    </div>
</div>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="forum.showAddCategory($event)">
    <md-tooltip>
        Add Category
    </md-tooltip>  
    <ng-md-icon icon="add"></ng-md-icon>
</md-button>




