<div layout="row" layout-align="center none" flex>
    <div flex-gt-sm="80" flex-gt-md="70" flex-gt-lg="50" flex-gt-xl="40" flex-gt-xs="90" flex-xs="100">
        <div layout-padding class="breadcrumbBar">
            <span layout-padding class="md-body-1"><a ng-href="/forum">Forums</a></span>
        </div>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">All Categories</span>
                </md-card-header-text>
            </md-card-header>
            <md-divider></md-divider>
            <md-card-content class="no-side-padding">
                <div ng-repeat="cat in forum.categories">
                    <md-button class="catName" ng-href="/forum/category/{{ cat._id }}"><span class="md-headline">{{cat.name}}</span></md-button>
                    <thread-list threads="cat.recentThreads"></thread-list>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="forum.showAddCategory($event)">
    <md-tooltip>
        Add Category
    </md-tooltip>  
    <md-icon md-font-library="material-icons">create</md-icon>
</md-button>




