<div class="authBg" layout="row" layout-align="center center">
    <md-card layout="column" flex-gt-sm="40" flex-gt-md="30" flex-gt-lg="20" flex-gt-xl="15" flex-gt-xs="70" flex-xs="90">
        <md-card-header>
            <md-card-header-text>
                <span class="md-headline primaryColor"><b>EREBOS</b> Forums</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div ng-show="auth.error" class="padded">
                <span>{{ auth.error.message }}</span>
            </div>
            <form name="loginForm">
                <md-input-container class="md-block">
                    <label>Username</label>
                    <md-icon md-font-library="material-icons">person</md-icon>
                    <input type="text" name="username" ng-model="auth.user.username" required>
                    <div ng-messages="loginForm.username.$error">
                        <div ng-message="required">Username is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <md-icon md-font-library="material-icons">lock</md-icon>
                    <input type="password" name="password" ng-model="auth.user.password" required>
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">Password is required</div>
                    </div>
                </md-input-container>
            </form>
        </md-card-content>
        <md-card-action layout="row">
            <md-button class="md-raised md-accent" flex="100" ng-click="auth.login()">Login</md-button>
        </md-card-action>
        <md-card-content>
            <span class="md-caption"><a href="/register">Register</a></span>
            <span flex></span>
            <!--<span class="md-caption">Forgot your password?</span>-->
        </md-card-content>
    </md-card>
</div>