<div forum-toolbar></div>
<div layout="row" layout-align="center none">
    <div flex-gt-sm="80" flex-gt-md="70" flex-gt-lg="50" flex-gt-xl="40" flex-gt-xs="90" flex-xs="95">
        <div layout-padding class="breadcrumbBar">
            <span layout-padding class="md-body-1"><a ng-href="/forum">Forums</a> / <a ng-href="/forum/category/{{ thread.currThread.category._id }}">{{ thread.currThread.category.name }}</a> / {{ thread.currThread.title }}</span>
        </div>
        <md-card class="overlappedCard md-whiteframe-2dp">
            <md-card-header>
                <md-card-header-text>
                    <p class="md-headline threadTitle">{{ thread.currThread.title }}</p>
                    <span>Submitted by: <span class="capitalize">{{ thread.currThread.author.username }}</span></span>
                    <span>{{ thread.currThread.date | date:'short'}}</span> 
                    <p>{{ thread.currThread.body }}</p>
                </md-card-header-text>  
            </md-card-header>
        </md-card>
        <div layout-padding>
            <span layout-padding class="md-body-1">Replies: {{ thread.replies }}</span>
        </div>
        <md-card ng-repeat="cmt in thread.currThread.comments">
            <md-card-content>
                    <span class="capitalize md-headline">{{ cmt.author.username }}</span>
                    <p class="md-caption">{{ cmt.date | date:'short'}}</p> 
                <p>{{ cmt.body }}</p>
            </md-card-content>
        </md-card>
    </div>
</div>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="thread.showAddComment($event)">
    <md-tooltip>
        Reply
    </md-tooltip>  
    <ng-md-icon icon="reply"></ng-md-icon>
</md-button>