<div forum-toolbar></div>
<div layout="row" layout-align="center none">
    <div flex-gt-sm="80" flex-gt-md="70" flex-gt-lg="50" flex-gt-xl="40" flex-gt-xs="90" flex-xs="95">
        <div layout-padding class="breadcrumbBar">
            <span layout-padding class="md-body-1"><a ng-href="/forum">Forums</a> / <a ng-href="/forum/category/{{ thread.currThread.category._id }}">{{ thread.currThread.category.name }}</a> / {{ thread.currThread.title }}</span>
        </div>
        <md-card>
            <md-card-header class="no-bottom-padding">
                <md-card-header-text>
                    <div layout="row">
                        <div flex="90">
                            <span class="md-headline">{{ thread.currThread.title }}</span>
                        </div>
                        <div flex></div>
                        <div flex="nogrow">
                            <ng-md-icon icon="more_vert"></ng-md-icon>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-header class="no-padding-bottom">
                <md-card-avatar class="right-margin">
                        <img src="/img/name-icons/S.png" class="md-user-avatar">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title capitalize">{{ thread.currThread.author.username }}</span>
                    <span class="md-subhead">{{ thread.currThread.date | date:'short'}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>{{ thread.currThread.body }}</p>
            </md-card-content>
        </md-card>
        <div layout-padding>
            <span layout-padding class="md-body-1">Replies: {{ thread.replies }}</span>
        </div>
        <md-card ng-repeat="cmt in thread.currThread.comments">
            <md-card-header>
                <md-card-avatar>
                    <img src="/img/name-icons/S.png" class="md-user-avatar">
                </md-card-avatar>
                <md-card-header-text>
                    <div layout="row">
                        <div flex="90" layout="column">
                            <span class="capitalize md-title">{{ cmt.author.username }}</span>
                            <span class="md-subhead">{{ cmt.date | date:'short'}}</span>
                        </div>
                        <div flex></div>
                        <div flex="nogrow">
                            <ng-md-icon icon="more_vert"></ng-md-icon>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>{{ cmt.body }}</p>
            </md-card-content>
        </md-card>
    </div>
</div>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="thread.showAddComment($event)">
    <md-tooltip>
        Reply
    </md-tooltip>  
    <ng-md-icon icon="reply"></ng-md-icon>
</md-button>