#bodyGrey {
    background-color: #f0f0f0;
    height: 100%;
}

.invert{
    -webkit-filter: invert(100%);
}

.md-fab.md-fab-bottom-right {
  position: fixed !important;
}

.authBg {
  height:100%;
  width: 100%;
  background-color: #455A64;
}

.primaryColor {
  color: #455A64;
}

.capitalize {
   text-transform: capitalize;
}

.shortToolbar {
  min-height: 20px;
}

.catName {
  padding-left: 0;
  margin-left: 0;
}

.breadcrumbBar {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color:#808080;
}
