.overlappedCard {
  z-index: 2;
  margin-top: -150px;
}

#bodyGrey {
    background-color: #f0f0f0;
    height: 100%;
}

#mainTB {
  padding-bottom: 200px;
}

.invert{
    -webkit-filter: invert(100%);
}

.md-fab.md-fab-bottom-right {
  position: fixed !important;
}
